:root{
    --primary: #efff;
    --bg-color: rgb(3, 23, 27);
    --bg-envelope-color: #edd47a;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #f3cb86;
    --shadow-color: rgba(0,0,0,0.2);
    --text-color: #444;
    --heart-color: rgb(252,8,231);
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: block;
    align-items:center;
    justify-content:center;
}
.container{
    height: 100vh;
    display: grid;
    place-items: center;
}
.container > .envelope-wrapper{
    background: var(--bg-envelope-color);
    box-shadow: 0px 0px 40px var(--shadow-color);
}
.container > .envelope-wrapper > .envelope{
    position: relative;
    width: 400px;
    height: 300px;
}
.container > .envelope-wrapper > .envelope::before{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 200px solid var(--envelope-tab);
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
.container > .envelope-wrapper > .envelope::after{
    content: '';
    position: absolute;
    z-index: 3;
    border-top: 200px solid transparent;
    border-right: 200px solid var(--envelope-cover);
    border-left: 200px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    bottom: 0;
}
.letter{
    position:absolute;
    right: 20%;
    bottom:0;
    width:60%;
    height: 80%;
    background: var(--primary);
    transition: all 1s ease-in-out;
    padding: 20px 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}
.letter > .text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: var(--text-color);
    text-align: center;
}
.heart{
    position:absolute;
    top:87%;
    left:52%;
    width:19px;
    height:19px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
}
.heart::before,
.heart::after{
    content:'';
    position: absolute;
    width:19px;
    height:19px;
    background: var(--heart-color);
    border-radius: 50%;
}
.heart::before{
    top:-7.5px;
}
.heart::after{
    right:7.5px;
}
.flap > .envelope::before{
    z-index: 3;
    transform: rotateX(180deg);
}
.flap > .envelope .letter{
    z-index: 4;
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
}
.flap > .heart{
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

.next-page{
    text-decoration: none;
    color:#111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}







