* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}


.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    max-width: 400px;
    margin: 30px;
}

.container .tenor-gif-embed{
    max-width: 200px;
}   

.container .btn{
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color:#111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}
.btn2 a {
    text-decoration: none;
    color:#111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}